# Dependências
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de Build
/dist/
/.astro/

# Variáveis de Ambiente
.env
.env*.local

# Cache de OS
.DS_Store
Thumbs.db