---
// O componente de Preloader
---
<div
  id="preloader"
  class="fixed inset-0 bg-black flex items-center justify-center z-[9999]"
>
  <h2 class="text-3xl md:text-5xl font-bold text-white">
    <span id="preloader-name" class="opacity-0">Gabriel Bandeira</span>
    <span id="preloader-dev" class="text-electricBlue opacity-0">.DEV</span>
  </h2>
</div>