---
// SEÇÃO 5: O marquee de tecnologias (Caixa de Ferramentas)
---

<section id="toolbox-section" class="my-32">
  <div class="marquee-container">
    <div class="marquee-track marquee-left">
      <span>JavaScript</span>
      <span>React</span>
      <span>Next.js</span>
      <span>Svelte</span>
      <span>Vue.js</span>
      <span>TailwindCSS</span>
      <span>HTML5</span>
      <span>CSS3</span>
      <span>JavaScript</span>
      <span>React</span>
      <span>Next.js</span>
      <span>Svelte</span>
      <span>Vue.js</span>
      <span>TailwindCSS</span>
      <span>HTML5</span>
      <span>CSS3</span>
    </div>
  </div>

  <div class="marquee-container">
    <div class="marquee-track marquee-right">
      <span>Node.js</span>
      <span>Express</span>
      <span>JWT</span>
      <span>PHP</span>
      <span>Laravel</span>
      <span>Python</span>
      <span>Go</span>
      <span>Node.js</span>
      <span>Express</span>
      <span>JWT</span>
      <span>PHP</span>
      <span>Laravel</span>
      <span>Python</span>
      <span>Go</span>
    </div>
  </div>

  <div class="marquee-container">
    <div class="marquee-track marquee-left">
      <span>SQL</span>
      <span>PostgreSQL</span>
      <span>MySQL</span>
      <span>MongoDB</span>
      <span>Docker</span>
      <span>AWS</span>
      <span>Vercel</span>
      <span>Git</span>
      <span>SQL</span>
      <span>PostgreSQL</span>
      <span>MySQL</span>
      <span>MongoDB</span>
      <span>Docker</span>
      <span>AWS</span>
      <span>Vercel</span>
      <span>Git</span>
    </div>
  </div>
</section>